<!-- Script files -->
<script src ="/Scripts/app.js"></script>
<script src ="/bootstrap/dist/js/bootstrap.min.js"></script>
<script src ="/jquery/dist/jquery.min.js"></script>

<!-- shared footer-->
<div id ="footer"> 
        <footer> https://github.com/moon9559 | linkedin coming soon!</footer>
<div>
</body>
</html>